* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  font-family: "Rubik", sans-serif;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
}

.calculator-grid {
  width: 380px;
  height: 730px;
  border-radius: 36px;
  background-color: #22252d;
  overflow: hidden;
}

button {
  border-radius: 11px;
  border: none;
  background-color: #22252d;
  /* background-color: transparent; */

  color: #fff;
  font-size: 28px;
  transition: 0.1s all ease-in-out;
  font-weight: 400;
}

button:hover {
  background-color: #2e5570;
}

.span-two {
  grid-column: span 2;
}

.output {
  grid-column: 1 / -1;
  background-color: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
  word-wrap: break-word;
  word-break: break-all;
}

.previous-operand,
.current-operand {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}
.previous-operand {
  border-radius: 36px 36px 0 0;
  height: 130px;
  padding: 26px;
  font-size: 28px;
}
.current-operand {
  height: 100px;
  padding: 26px;
  font-size: 42px;
}
.calculator {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  height: calc(800px - 300px);
  width: 100%;
  gap: 18px;
  padding: 26px;
  background-color: #2a2d37;
  border-radius: 36px;
}
.turquoise {
  color: turquoise;
}
.tomato {
  color: tomato;
}
